{% extends "head1.html" %}
{% load static %}
{% static "img" as baseUrl %}
  
    <!-- END header -->
}
{% block title %} Disease Predictor {% endblock %}

{% block body %}
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    

    <section class="section bg-secondary" >


   
  <div class="container" style="background-color:#5F9EA0">


    

      <div class="mt-4"  >
   
      <div class="display-3 my-2 text-center" style="background-color:#5F9EA0">Diabetes Prediction</div>
      
      {% if context %}
       <div class="alert alert-danger">
 
         
      <div class="display-4 my-2 text-center">
        You {{ context }} a risk of a Diabetes.
     </div>

        
         <a class="btn btn-primary" href="{% url 'diabetes' %}" role="button">Go again for prediction</a>
      </div>
      <form class="row" action="">
        <div class="col-md-4">
            <div class="form-group">
              <label for="pregnancies">Pregnancies</label>
              <input
                
                class="form-control"
               
                placeholder="{{pregnancies}}" disabled
              />
            </div>
            <div class="form-group">
              <label for="glucose">Glucose</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="glucose"
                value="0"
                name="glucose"
                placeholder="{{glucose}}" disabled
              />
            </div>
            <div class="form-group">
              <label for="bloodpressure">Blood Pressure</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="bloodpressure"
                value="0"
                name="bloodpressure"
                placeholder="{{bloodpressure}}" disabled
              />
            </div>
            <div class="form-group">
              <label for="skinthickness">Skin Thickness</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="skinthickness"
                value="0"
                name="skinthickness"
                placeholder="{{skinthickness}}" disabled
              />
            </div>
            <div class="form-group">
              <label for="insulin">Insulin</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="insulin"
                value="0"
                name="insulin"
                placeholder="{{insulin}}" disabled
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="bmi">BMI</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="bmi"
                value="0"
                name="bmi"
                placeholder="{{bmi}}" disabled
              />
            </div>
            <div class="form-group">
              <label for="pedigree">Diabetes Prediction Function</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="pedigree"
                value="0"
                name="pedigree"
                placeholder="{{pedigree}}" disabled
              />
            </div>
            <div class="form-group mb-5">
              <label for="age">Age</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="age"
                value="0"
                name="age"
                placeholder="{{age}}" disabled

              />
            </div>
            <div class="mt-4">
            <button type="submit" class="btn-lg btn-block btn btn-danger mb-5">
              Predict
            </button>
          </div>
          </div>
        </form>

      </div>
      <div>
      <a href="{% url 'doctors' %}" class="cta-link element-animate">
      <span class="sub-heading">Send Your Prediction To our Expert Doctor  </span>
      <span class="heading">Make an Appointment</span>
    </a> 
    </div>

   </div>
   </div>
   </section> 
      {% else %}
   
      


<section class="section bg-light" >


   
<div class="container" style="background-color:#5F9EA0">

    
      <div class="mt-4">
          <div><h1> <p class="text-white bg-dark"  >Diabetes Prediction: Do your prediction .</p></h1></div>
        
           <form class="row" style="background-color:#b7cbd2" method="POST" action="{% url 'diabetes' %}">
           {% csrf_token %}
          <div class="col-md-4">
            <div class="form-group">
              <label for="pregnancies">Pregnancies</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="pregnancies"
                value="0"
                name="pregnancies"
              />
            </div>
            <div class="form-group">
              <label for="glucose">Glucose</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="glucose"
                value="0"
                name="glucose"
              />
            </div>
            <div class="form-group">
              <label for="bloodpressure">Blood Pressure</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="bloodpressure"
                value="0"
                name="bloodpressure"
              />
            </div>
            <div class="form-group">
              <label for="skinthickness">Skin Thickness</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="skinthickness"
                value="0"
                name="skinthickness"
              />
            </div>
            <div class="form-group">
              <label for="insulin">Insulin</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="insulin"
                value="0"
                name="insulin"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="bmi">BMI</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="bmi"
                value="0"
                name="bmi"
              />
            </div>
            <div class="form-group">
              <label for="pedigree">Diabetes Prediction Function</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="pedigree"
                value="0"
                name="pedigree"
              />
            </div>
            <div class="form-group mb-5">
              <label for="age">Age</label>
              <input
                type="number"
                step=".00001"
                class="form-control"
                id="age"
                value="0"
                name="age"
              />
            </div>
            <div class="mt-4">
            <button type="submit" class="btn-lg btn-block btn btn-danger mb-5">
              Predict
            </button>
          </div>
          </div>
        </form>
      </div>
    </div>
    </div>
    {% endif %}
</section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="{% static 'js/jquery-3.2.1.min.js' %}"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    >

</script> 
{% endblock %}

