{% extends "head.html" %}
{% load static %}
{% static "img" as baseUrl %}
  <title>{{title}}</title>

{% block body %}  
 <div>
 <h1 class="p-3 mb-2 bg-success text-white">Reset Your Password</h1>
 </div>

<div class="limiter">
		<div class="container-login100">
<div class="wrap-login100 p-t-30 p-b-50">
<div class="login100">
	 <div>   
  <h5 class="p-3 mb-2 bg-success text-white">Enter Your New Password</h5>  
</div>
   <form method="POST"> {% csrf_token %}
        {{form}}
        <br>
        <button type="submit">Change Password</button> 
    </form>
</div>
</div>
</div>
</div>
{% endblock %}